.octogon__image {
  width: 95%;
  height: 95%;
  margin-left: 2.5%;
  margin-top: 2.5%;
  background-size: cover;
  background-position: center;
  clip-path: polygon(30% 0%, 70% 0, 100% 30%, 0 70%, 0 30%);
  position: absolute;
}

.octogon__title {
  position: absolute;
  font-family: sans-serif;
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: 10px;
  width: 100%;
  transform: rotate(-21.7deg) scale(1,2);
  color: #d1d1d1;
  top: 50%;
}

.octogon__title--text {
  width: 100%;
  position: absolute;
  overflow: hidden;
  line-height: 25px;
  margin-top: 10px;
  margin-left: 7px; /*Half of letter-spacing*/
  word-spacing: 100vw;
  z-index:2;
}

@media only screen and (max-width: 600px), only screen and (max-height: 600px){ 
  .octogon__title {
    font-size: 26px;
  }
}